.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar.fixed-left {
    bottom: 0;
    width: 232px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
    top: 0;
  }
}

@media (min-width: 768px) {
  .navbar.fixed-left {
    right: auto;
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
    border-right: none;
    vertical-align: baseline;
  }
  .navbar.fixed-left .navbar-nav .nav-item .dropdown-menu {
    left: 100%;
  }
}

.w-20{
  padding-left: 4%;
  padding-right: 4%;
}

.nav-item-w{
  padding-left: 40px;
}

.nav-item-t{
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.bottom-item-padding{
  width: 116px;
}

.bottom-item-padding-button{
  width: 116px;
}

.add-padding-button{
  padding-left: 40px;
  padding-right: 40px;
}

.nav-top-padding{
  padding-bottom: 10px;
}

.nav-to-the-left{

}

#main{
  padding-left: 250px;
  padding-top: 10px;
  margin-right: 10px;
}

#offline-orders{
  padding-left: 250px;
  padding-top: 10px;
  margin-right: 10px;
}

#view-order{
  padding-left: 240px;
}

#view-order h3{
  padding-top: 10px;
}
